 /* glutton layer */
 #gluttonLayer {
    height: 100vh;
    width: 100%;
  }

  .glt-1 {
    stroke-width: 4px;
  }

  .glt-1, .glt-2, .glt-3, .glt-4 {
    fill: none;
    stroke: #ff0000;
    stroke-miterlimit: 10;
  }

  .glt-2 {
    stroke-width: 3px;
  }

  .glt-3 {
    stroke-width: 2px;
  }

  .glt-5 {
    fill: #ff0000;
    stroke-width: 0px;
  }

  .glt-4 {
    stroke-width: 2px;
  }

  #openmouth {
    fill: #ff0000;
    stroke-width: 30px;
    z-index: 1;
  }
 .glt-5 {
  transition: transform 9s ease, opacity 6s ease;
  }

  
  .glt-5.active {
  opacity: 5;
}