#personLayer {
    position: fixed;
    transform: translateY(-80%) ;
    z-index: 99;
    width: 90%;
    height: 90%;
    transform-origin: center;
    mix-blend-mode: exclusion;
}

.ppl-1 {
    fill: #ff0000;
    stroke-width: 0px;
    mix-blend-mode: exclusion;
  }

  #person {
    mix-blend-mode: exclusion;
}

@keyframes sway {
    0% {
        transform: rotate(1080deg) translateY(-80%);
    }
    50% {
        transform: rotate(1085deg) translateY(-79%);
    }
    100% {
        transform: rotate(1080deg) translateY(-80%);
    }
}

.sway {
    animation: sway 2s ease-in-out infinite alternate;
}
