  /* satan Layer */
  #satanLayer {
    height: 100vh;
    width: 100%;
  }

  
  .stn-1 {
    stroke-width: 4px;
  }

  .stn-1, .stn-2, .stn-3, .stn-4 {
    fill: none;
    stroke: #ff0000;
    stroke-miterlimit: 10;
  }

  .stn-2 {
    stroke-width: 3px;
  }

  .stn-3 {
    stroke-width: .5px;
  }

  .stn-5 {
    fill: #ff0000;
    stroke-width: 0px;
  }

  .stn-4 {
    stroke-width: 2px;
  }

  .stn-stn {
    fill: #ff0000;
    stroke-width: 0px;
    filter: brightness(150%);

  }

  .stn-btm {
        fill: #ff0202;
        stroke-width: 0px;
        filter: blur(9px);
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .stn-btm {
    opacity: 0;
    animation: fadeIn 2s ease-in forwards infinite alternate;
  }

  