@import 'limbolayer.css';
@import 'lustfullayer.css';
@import 'gluttonlayer.css';
@import 'greedlayer.css';
@import 'wrathlayer.css';
@import 'hereticlayer.css';
@import 'violentlayer.css';
@import 'fraudlayer.css';
@import 'satanlayer.css';
@import 'descentlayer.css';
@import 'finalascendlayer.css';
@import 'person.css';
@import 'iconfonts.css';
@import 'button.css';
@import 'overlay.css';
@import 'elevatortext.css';
body{
    background-color: #000000;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

      
  #quoteOne {
    font-size: 2.5rem;
    color: #ffffff;
    text-align: center;
    /* position: sticky; */
  }
  