body{
    background-color: #000000;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}


    .ppl-1 {
        fill: #ff0000;
        stroke-width: 0px;
        z-index: 1;
        /* transform: translateX(50px) translateY(5px); */
      }

      #person {
        position: fixed;
        z-index: 99;
        width: 100%;
        mix-blend-mode: exclusion;
      }

    .cls-1 {
        stroke-width: 4px;
      }

      .cls-1, .cls-2, .cls-3, .cls-4 {
        fill: none;
        stroke: #ff0000;
        stroke-miterlimit: 10;
      }

      .cls-2 {
        stroke-width: 3px;
      }

      .cls-3 {
        stroke-width: .5px;
      }

      .cls-5 {
        fill: #ff0000;
        stroke-width: 0px;
      }

      .cls-4 {
        stroke-width: 2px;
      }

      /* descent Layer */
      #descentLayer {
        height: 100vh;
        width: 100%;
      }

      /* limbo Layer */
      #limboLayer {
        height: 100vh;
        width: 100%;
      }


      /* lust Layer */
      #lustfulLayer {
        height: 100vh;
        width: 100%;
      }

      /* glutton layer */
      #gluttonLayer {
        height: 100vh;
        width: 100%;
      }

      /* greed Layer*/
      #greedLayer {
        height: 100vh;
        width: 100%;
      }

      /* wrathful Layer */
      #wrathfulLayer {
        height: 100vh;
        width: 100%;
      }

      /* heretic Layer */
      #hereticLayer {
        height: 100vh;
        width: 100%;
      }

      /* violent Layer */
      #violentLayer {
        height: 100vh;
        width: 100%;
      }

      /* fraudulent Layer */
      #fraudLayer {
        height: 100vh;
        width: 100%;
      }

      /* satan Layer */
      #satanLayer {
        height: 100vh;
        width: 100%;
      }