@import 'limbolayer.css';
@import 'lustlayer.css';
@import 'gluttonlayer.css';
@import 'greedlayer.css';
@import 'wrathlayer.css';
@import 'hereticlayer.css';
@import 'violentlayer.css';
@import 'fraudlayer.css';
@import 'satanlayer.css';

body{
    background-color: #000000;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}


    .ppl-1 {
        fill: #ff0000;
        stroke-width: 0px;
        z-index: 1;
        /* transform: translateX(50px) translateY(5px); */
      }
      #person {
        position: fixed;
        top: 50%;
        /* left: %; */
        transform: translateY(-50%);
        z-index: 99;
        width: 100%;
        height: 100%;
        mix-blend-mode: exclusion;
        transform-origin: center;
    }
    
    @keyframes sway {
        0% {
            transform: rotate(1080deg) translateY(-50%);
        }
        50% {
            transform: rotate(1085deg) translateY(-49%);
        }
        100% {
            transform: rotate(1080deg) translateY(-50%);
        }
    }
    
    .sway {
        animation: sway 2s ease-in-out infinite alternate;
    }


      /* descent Layer */
      #descentLayer {
        height: 100vh;
        width: 100%;
      }


  h1 {
    font-size: 3em;
    color: #ffffff;
    text-align: center;
    margin-top: 5%;
    padding-top: 1em;
    position: sticky;
  }

  
  span.elevatorL, span.elevatorR {
  display: inline-block;
}

span.elevatorL {
  animation: moveLeft 0.7s forwards;
  animation-play-state: paused;
}

span.elevatorR {
  animation: moveRight 0.7s forwards;
  animation-play-state: paused;
}

@keyframes moveLeft {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-30em);
  }
}

@keyframes moveRight {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(30em);
  }
}

@keyframes backLeft {
  0% {
    transform: translateX(-30em);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes backRight {
  0% {
    transform: translateX(30em);
  }
  100% {
    transform: translateX(0px);
  }
}